@font-face {
  font-family: regularFont;
  src: url(./Formula1-Regular.ttf);
}

* {
  margin: 0;
  font-family: regularFont;
}

.header {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #FF1E00;
  color: white;
}

.content {
  max-width: 1200px;
}

.footer {
  background-color: #15151E;
  color: white;
  padding: 15px;
  font-size: x-small;
}

.footer a {
  color: #FF1E00;
}